# Makefile related stuff
lab?/build
lab?/*.elf
lab?/*.elf.bin
lab?/*.elf.map
lab?/.vscode/.cortex*

# CMake+QtCreator related stuff
lab?/CMakeLists.txt.user
build-lab*

#pdfpc tmp file.
lecture/micro.pdfpc

# LaTeX
*.aux
*.log
*.fdb_latexmk
*.fls
*.out

# Vim
.*.swp

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
